absl-py
affine
anyio
asciitree
astunparse
blis
bokeh
bottleneck
cdsapi
cfgrib
cftime
click-plugins
cligj
cloudpickle
contourpy
cymem
dask
distributed
docopt
eccodes
eccodes-python
fasteners
fastrlock
flatbuffers
flox
fsspec
gast
geopandas
git-filter-repo
GPUtil
grpcio
h5netcdf
HeapDict
huggingface-hub
keras
libclang
llvmlite
munch
murmurhash
nc-time-axis
netcdf4
numba
numbagg
numcodecs
numpy-groupies
opencv-python
opt-einsum
partd
pooch
preshed
protobuf
pydantic
pydap
pyproj
pytorch-msssim
rasterio
requests-oauthlib
rioxarray
rsa
safetensors
scikit-learn
scipy
shapely
srsly
starlette
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
torch
torch-cluster
torch-geometric
torch-scatter
torch-sparse
torchviz
transformers
xarray
zarr
zict
